<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e9661232-9ce0-4fe4-be61-eff96c956e2a/resourcegroups/TestResource/providers/Microsoft.Web/sites/SmarTrakWebAPI20250220160542</ResourceId>
    <ResourceGroup>TestResource</ResourceGroup>
    <ApiResourceId>/subscriptions/e9661232-9ce0-4fe4-be61-eff96c956e2a/resourceGroups/TestResource/providers/Microsoft.ApiManagement/service/SmarTrakWebAPIapi/apis/SmarTrakWebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://smartrakwebapi20250220160542.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>9b776207-5c59-4169-9815-343e2daa3c25</ProjectGuid>
    <MSDeployServiceURL>smartrakwebapi20250220160542.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SmarTrakWebAPI20250220160542</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>